# Definicje konfiguracji jako inline content
configs:
  nginx-main-conf:
    content: |
      server {
          listen 443 ssl;
          server_name naxdev.local *.naxdev.local;

          ssl_certificate            cert/proxy.crt;
          ssl_certificate_key        cert/proxy.key;
          ssl_session_cache          shared:SSL:1m;
          ssl_session_timeout        5m;
          ssl_ciphers                HIGH:!aNULL:!MD5;
          ssl_prefer_server_ciphers  on;

          proxy_busy_buffers_size     512k;
          proxy_buffers               4 512k;
          proxy_buffer_size           256k;
          large_client_header_buffers 4 32k;
          client_max_body_size        50m;

          resolver 127.0.0.11 valid=30s;

          proxy_read_timeout 300s;
          proxy_connect_timeout 300s;
          proxy_send_timeout 300s;

      } 
  init-script:
    content: |
      #!/bin/sh
      NPM_HOST="http://nginx-proxy-manager:${NAX_NGINXPM_ADMIN_PORT-81}"
      ADMIN_EMAIL="admin@anxiom.com"
      ADMIN_PASS="SuperHaslo123"

      echo "Czekam na dostępność NPM API..."
      until curl -s $NPM_HOST/api/status | grep -q '"status":"ok"'; do
        sleep 5
      done

      echo "Sprawdzam, czy użytkownik istnieje..."
      USER_EXISTS=$(curl -s nginx-proxy-manager/api/users | grep -c $ADMIN_EMAIL)

      if [ "$USER_EXISTS" -eq 0 ]; then
        echo "Tworzę użytkownika admina..."
        curl -s -X POST "$NPM_HOST/api/users" \
          -H "Content-Type: application/json" \
          -d "{\"name\":\"Administrator\",\"email\":\"$ADMIN_EMAIL\",\"password\":\"$ADMIN_PASS\",\"roles\":[\"admin\"]}"
      else
        echo "Użytkownik już istnieje."
      fi

services:
  mssql:
    image: mcr.microsoft.com/mssql/server:${NAX_MSSQL_VERSION-2019-latest}
    container_name: naxiom-global-mssql
    restart: unless-stopped
    ports:
      - ${NAX_MSSQL_EXPOSED_PORT-1433}:1433
    environment:
      ACCEPT_EULA: Y
      #HOMEDIR: ${NAX_MSSQL_DATA_DIR}
      MSSQL_SA_PASSWORD: ${NAX_MSSQL_PASSWORD-p@ssw0rd}
      MSSQL_COLLATION: 'Polish_CI_AS'
    networks:
      - naxiom-global
    volumes:
      - mssql_data:/var/opt/mssql                               # Wolumen na bazy danych
      - ${NAX_MSSQL_DATA_DIR-/mnt/c/Docker/mssql}:/var/opt/mssql/backups    # Folder na backupy (z hosta)

  nginx-proxy-manager:
    image: 'jc21/nginx-proxy-manager:${NAX_NGINXPM_VERSION-latest}'
    container_name: naxiom-global-nginx-proxy-manager
    restart: unless-stopped
    ports:
      - '80:80' # Public HTTP Port
      - '443:443' # Public HTTPS Port
      - '${NAX_NGINXPM_ADMIN_PORT-81}:81' # Admin Web Port
    networks:
      - naxiom-global
    environment:
       DISABLE_IPV6: 'true'   
    configs:
      - source: init-script
        target: /init-script.sh
      #- source: nginx-main-conf
      #  target: /etc/nginx/conf.d/default.conf
    command: ["/bin/sh", "-c", "chmod +x /init-script.sh &&/init-script.sh"]
    volumes:
      - nginx_proxy_manager_data:/data
      - nginx_proxy_manager_letsencrypt:/etc/letsencrypt



  rabbitmq:
    image: rabbitmq:${NAX_RABBITMQ_VERSION}-management
    container_name: naxiom-global-rabbitmq
    environment:
      RABBITMQ_DEFAULT_USER: ${NAX_RABBITMQ_USERNAME}
      RABBITMQ_DEFAULT_PASS: ${NAX_RABBITMQ_PASSWORD}
    #ports:
      #- "${NAX_RABBITMQ_EXPOSED_PORT}:15672"
      #- "5672:5672"
    networks:
      - naxiom-global
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq/mnesia
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "ping"]
      interval: 10s
      timeout: 10s
      start_period: 8s

volumes:
  mssql_data:
      name: naxiom-global-mssql-data
  rabbitmq_data:
      name: naxiom-global-rabbitmq-data
  nginx_proxy_manager_data:
      name: naxiom-global-nginx-proxy-manager-data    
  nginx_proxy_manager_letsencrypt:
      name: naxiom-global-nginx-proxy-manager-letsencrypt

networks:
  naxiom-global:
    name: naxiom-global
    driver: bridge
